*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image: url(login.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:-30px ;
}
ul li{
	display: inline-block;
	font-size: 25px;
	border-radius: 10px;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
	border-radius: 30px;

	
}

ul li.active a{
background-color:#fff;
	color: #000;
	border-radius: 30px;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 85%;
	left: 75%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #f1f0f2;
	transition: 0.6s ease;
	font-size: 30px;
	text-decoration: none;
	border-radius: 50px;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.sub-menu{
	display:none;
    top:6%;
    position: absolute;
}

.sub-menu ul{
	position: absolute;

}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: 8px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: right;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}

#about {
	padding: 60px;
	background: #f5f5f7;
  }
  
  .about-wrapper {
	display: flex;
	flex-wrap: wrap;
  }
  
  #about h2 {
	font-size: 2.3rem;
	padding:5px;
  }
  
  #about p {
	font-size: 1.2rem;
	color: #555;
	padding:10px;
  }
  
  #about .small {
	font-size: 3rem;
	color: #666;
	font-weight: 600;
	padding:10px;
  }
  
  .about-img {
	flex: 1 1 400px;
	padding: 30px;
	transform: translateX(150%);
	animation: about-img-animation 1s ease-in-out forwards;
  }
  @keyframes about-img-animation {
	100% {
	  transform: translate(0);
	}
  }
  
  .about-text {
	flex: 1 1 400px;
	padding: 50px;
	margin: auto;
	transform: translate(-150%);
	animation: about-text-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-text-animation {
	100% {
	  transform: translate(0);
	}
  }
  
  .about-img img {
	display: block;
	height: 400px;
	max-width: 100%;
	margin: auto;
	object-fit: cover;
	object-position: right;
  }